* {
    padding: 0;
    margin: 0;

}

body {
    padding: 300px;
    max-width: 1350px;
    margin: auto;

}

#off {
    margin-top: 35px;
    text-align: center;
    margin-bottom: 40px;
    font-size: 100px;
    color: red;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

}

#our {
    color: red;
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin-bottom: 10px;
}

#all {
    text-align: center;
    font-size: 40px;
    font: bold;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.banner {
    position: relative;



}

.banner img {
    max-width: 100%;
    height: auto;
}

.banner-text {
    position: absolute;
    top: 25%;
    color: #fff;
    padding: 10px;


}

.box {
    margin-left: 250px;
    padding: 50px;
    margin-bottom: 30px;

}

.banner-text h2 {
    font-size: 25px;
    font-weight: bold;
    text-align: center;
    margin-bottom: 5px;

}

/* .cover */
    {
    text-align: center;
    margin-top: 80px;
    display: flex;
    width: 400px;
    height: 400px;
    align-items: center;
    justify-content: center;
}

img {
    margin-top: 100px;
}

#w {


    margin-bottom: 10px;
    padding: ;
    color: #e7e5e5;
}

/* .box{ */
width: 500px;
height: 600px;
}

#joy {
    text-align: left;

}

#come {
    text-align: left;
    margin-top: 20px;
}

.banner-text-title {
    position: absolute;
    position: relative;
    color: rgb(218, 221, 221);



}

.bannera {
    width: 100%;
    height: 65vh;
    background-image: url('../Vectorrr.png');

}

#kk {
    margin-left: 950px;
    margin-bottom: 2px;
    margin-right: 1px;
}

.party {
    margin-left: 90px;
    width: 1020px;
    height: 482px;
    flex-shrink: 0;
    background-color: rgb(216, 179, 210);

}

.party-title {
    font-size: larger;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin-top: 10px;
    display: block;
    font-weight: 50;
    margin-top: 100px;
    text-align: center;
    font: bold
}

#p {
    color: rgb(202, 31, 31);
    padding-top: 150px;
}

#d {
    color: red;

}

#t {
    color: red;
}

#j {
    /* background-color: red; */
    margin-top: 20px;
    color: #dd0d0d;
    display: inline-flex;
    padding: 16px 32px;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.containar {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    max-width: 800px;
}

#em {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: #dd0d0d;
    font-size: 20px;
    margin-bottom: 10px;
}

#on {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 25px;
    text: bold;
    margin-bottom: 8px;
}

.center {
    align-items: center;
    margin-left: 50px;

}

.sal {
    color: red;
    font-size: 50px;
    font-weight: 600;
    margin-left: 50px;
    margin-bottom: 5px;
}

#eet {
    margin-left: 50px;
}

#gr {
    width: 140px;
    height: 140px;
    margin-left: 50px;
    margin-top: 10px;
}

.holidays {
    max-width: 850px;
    padding: ;
    /* background-color: antiquewhite; */

}

.sale {
    /* width: 600px; */
    /* height: 735px; */
    text-align: center;
}

#ho {
    margin-left: 150px;
    padding-left: 40px;
    color: red;
    font-size: 50px;
    display: flex;
    text-align: center;
}

#hatim {
    font-size: 40px;
}

#fun {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    /* margin-bottom: 10px; */

}

#ho {
    margin-bottom: 10px;
    margin-top: 5px;
}

.rec {
    width: 200px;
    height: 250px;
    /* justify-content: right; */
    margin-left: 50px;
    margin-bottom: 110px;

}

#up {
    align-items: center;
    width: 206.841px;
    height: 206.841px;
    /* margin-right: 50px */
    justify-content: left;
    margin-bottom: 150px;

}

#ro {
    height: 350px;
    width: 250px;
    margin-bottom: 50px
}

#red {
    width: 1000px;
    height: 200px;

    margin-bottom: 150px;
    padding-bottom: 50%;
}
#hhg{
    display: flex;
}

.fas {
    margin-top: 0px;
    display: flex;
    gap: 15px;
    /* width: 300px; */
    height: 450px;
    flex-shrink: 0;


}
.ring {
    margin-top: 0px;
    display: flex;
    gap: 15px;
    width: 424px;
    height: 450px;
    flex-shrink: 0;
}


.gifts {
    /* text-align: center; */
    margin-bottom: 0;
    /* margin-top: 50px; */
}

#gi {
    color: red;
}

#aw {
    text: bold;
    font-size: 30px;

}

.sub {
    /* align-items: center; */
    /* justify-content: center; */
    /* align-items: center; */
    margin-top: 55px;
    border-radius: 16px;
    background: rgba(255, 0, 0, 0.05);
    width: 1320px;
    height: 600px;
}

#da {
    align-items: center;
    margin-left: 600px;
    width: 120px;
    height: 130px;
}

#news {
    color: #070211;
    text-align: center;
    font-family: Merriweather;
    font-size: 48px;
    font-style: normal;
    font-weight: 900;
    line-height: normal;
    text-transform: capitalize;
    margin: 15px;
}

#sed {
    text-align: center;
    font-size: 20px;
    font-weight: 400;
}

.hua {
    align-items: center;
    margin-left: 400px;
    width: 350px;
    height: 55px;
    flex-shrink: 0;
    border-radius: 35px;
}

#tech {
    align-items: center;
    color: #fff;
    text-align: center;
    width: 150px;
    height: 55px;
    flex-shrink: 0;
    border-radius: 25px 25px 25px 25px;
    background: #F00;
    margin-left: 550px;
    margin-bottom: 600px;
    padding: 20px;
    margin-top: 20px;
}


footer {
    margin-top: 50px;
    width: 1700px;
    height: 800px;
    flex-shrink: 0;
    background: #070211;
    line-height: 40px;
}
#location{
    /* margin-top: 35px; */
    padding: 100px;
    color: #fff;
    font-size: 25px;

}

/* #location { */
    margin-top: 25px;
    color: #FFF;
    font-family: Inter;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: 40px;
    /* 166.667% */
}

#imo{
    color: #c52323;
}

 #numbertt{
    
    padding: 100px;
    margin-top: 70px;
    /* margin-right: 100px; */
    color: #fff;
    font-size: 25px;
    font-weight: 500;
    /* text-align:end; */
}
.sosalf{
    align-items: center;
    margin-left: 250px;
    margin-bottom: 50px;
}
.sosald{
    align-items: center;
    margin-left: 250px;
    margin-bottom: 50px;
}
.sosals{
    align-items: center;
    margin-left: 250px;
    margin-bottom: 50px;
}
.sosala{
    align-items: center;
    margin-left: 250px;
    margin-bottom: 50px;
}